html, body {
  height: 100%;
  width: 100%;
}

#main-div {
  min-height: 100%;
  min-width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

p{
  position: absolute;
  min-height: 75%;
  min-width: 75%;
  color: yellow;
  background-color: black;
  
}
